.inventory {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    &-cards {
        flex-grow: 1;
        display: flex;
        margin: 10px 0;
        flex-direction: column;
        gap: 15px;
        overflow-y: auto;
    }
    &-actions {
        background-color: white;
        position: sticky;
        bottom: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding: 10px 0;
    }
    &-card {
        height: 50px;
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 0 10px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        transition: box-shadow 0.3s;
        &-content {
            height: 100%;
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: space-between;
        }
    }
    &-title {
        font-weight: bolder;
    }
    &-total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2px;
    }

    @media screen and (min-width: 768px) {
        &-actions {
            padding: 0;
        }
        &-cards {
            margin-top: 0;
        }
        
    }
}