<div class="entry">
    <div class="entry-input-container">
        <input class="entry-input" type="text" (ngModel)="title" placeholder="Title">
        <input class="entry-input" type="text" (ngModel)="calculation" placeholder="Content">
        <div class="entry-result">
            <div class="entry-input__result"></div>
            <select class="entry-input">
                @for (unit of units; track $index) {
                    <option value="{{unit}}">{{unit}}</option>
                }
            </select>
        </div>
    </div>
    <div class="entry-keypads">
        @for (key of keyPads; track $index) {
            <button class="entry-button">{{ key }}</button>
        }
        <button><i class="fa-solid fa-arrow-right"></i></button>
        
    </div>
</div>
