/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

app-root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    margin: 10px;

}

app-entry , app-inventory {
    display: flex;
    flex-direction: column;
}

app-entry {
    margin-top: auto;
    margin-bottom: auto;
}

body {
    height: 100vh;
    max-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

button {
    padding: 10px 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #7A9E9F;
    color: white;
    height: 50px
}